.cb-root {
    margin-left: -14em;
    margin-right: 0;
    margin-top: -1000px;
}
.main-container {
    padding-top: 1000px;
}

.section-content-right ul {
    /* margin-left: 30px */
}
/* 
margin-left: -14em;margin-right: 0;margin-top: -1000px;padding: 0;padding-top: 1000px;
*/